nav{
    background-color: #D45079;
    
}
.cardd a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 11px;



}

.coverlay,
.coverlay h5 {
    font-size: 18px;
}

.coverlay a:hover {
    color: yellow;
}

.body {
    margin-top: 55px;

}

.isi{
    margin-top: 40px;
    background-color: #E9E1CC;
}

.na {
    font-weight: bold;
}

.logo {
    width: 50%;
}

.prodi {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    font-weight: bold;
    /* color: white; */
}

#mipa {
    font-size: 50%;
    float: left;
}

#prodi {
    text-decoration: underline;
    font-size: 100%;


}


.unsrat {
    width: 70%;
    padding-top: 5px;
}



footer {
    background-color:#EA9085;

}

.fot {
    font-family: Verdana;
}

#fotisi,
.a {
    color: #cccccc;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
}


.justi {
    text-align: justify;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}